<!-- <div class="login__footer">
  <div class="contact__item">
      <div class="contact-item__icon">
          <i class="fa fa-map-marker fa-2x"></i>
      </div>
      <div class="contact-item__main">
          <div class="item-main__title">
              ADDRESS
              </div>
          <div class="item-main__desc">
              Tầng 7, Lê Thanh Nghị
          </div>
      </div>
  </div>
  <div class="contact__item">
      <div class="contact-item__icon">
          <i class="fa fa-phone fa-2x"></i>
      </div>
      <div class="contact-item__main">
          <div class="item-main__title">
              PHONE
          </div>
          <div class="item-main__desc">
              (+89) 123 345 678
          </div>
      </div>
  </div>
  <div class="contact__item">
      <div class="contact-item__icon">
          <i class="fa fa-envelope fa-2x"></i>
      </div>
      <div class="contact-item__main">
          <div class="item-main__title">
              EMAIL
          </div>
          <div class="item-main__desc">
              team2VTI@gmail.com
          </div>
      </div>
  </div>
  <div class="contact__item">
      <div class="contact-item__icon">
          <i class="fa fa-calendar fa-2x"></i>
      </div>
      <div class="contact-item__main">
          <div class="item-main__title">
              WORKING DAYSHOUR
          </div>
          <div class="item-main__desc">
              Monday - Sunday
          </div>
      </div>
  </div>

</div> -->
