.nav {
  background-color: rgb(18, 18, 44);
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 200px;
  margin-bottom: 50px;
}

.left {
  display: flex;
}

.nav-item {
  padding-right: 40px;
}

.nav-back {
  color: white;
  padding: 17px 10px;
  text-decoration: none;
}

.nav-back:focus {
  background-color: rgb(222, 83, 28);
}

.dropdown-item:active {
  background-color: white;
}
