<div class="home-page">
  <div class="message-title">
      Thông báo
  </div>
  <div class="message message-danger">
      <div>Cảnh cáo quá trình học tập</div>
      <div class="message-date">
          Thứ ba, ngày 5 tháng 1 năm 2021
      </div>
  </div>
  <div class="message">
      <div>Điểm thi môn Giải tích 1</div>
      <div class="message-date">
          Thứ ba, ngày 5 tháng 1 năm 2021
      </div>
  </div>
  <div class="message">
      <div>Điểm thi môn Giải tích 2</div>
      <div class="message-date">
          Thứ ba, ngày 5 tháng 1 năm 2021
      </div>
  </div>
  <div class="message">
      <div>Điểm thi môn Đại số</div>
      <div class="message-date">
          Thứ ba, ngày 5 tháng 1 năm 2021
      </div>
  </div>
</div>

